<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <title>Homepage</title>
</head>
<body>
    <img src="{{ url_for('static', filename='Mark.png') }}" alt="Header Image" class="header-image">
    <div class="main-content">
        <div class="centered-container"> 
            <h1>Welkom! Op deze pagina kunt u de onderstaande toeslagen berekenen:</h1>
            <div class='container'>
                <a href="/zorgtoeslag_voorwaarden" class="button">Zorgtoeslag</a>
            </div>
            <div class='container'>
                <a href="/kinderbijslag_voorwaarden" class="button">Kinderbijslag</a>
            </div>
            <div class="logout-container">
                <form action="/logout" method="get">
                    <button type="submit">Logout</button>   
                </form>
            </div>
        </div>
</body>
</html>

