<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <title>Resultaten</title>
</head>
<body>
    <div class="results-container">
        <h1>Resultaten gebaseerd op jouw inkomen</h1>
        <p class="result-item">Inkomen: <span>{{ data['Inkomen'] }}</span></p>
        <p class="result-item">Vermogen: <span>{{ data['Vermogen'] }}</span></p>
        <p class="result-item">Zorgtoeslag: <span>{{ data['Zorgtoeslag'] }}</span></p>
    </div>
    <div class="logout-container">
        <form action="/logout" method="get">
            <button type="submit" class="button">Logout</button>   
        </form>
    </div>
    <div class='goBack-container'>
        <button class="button" onclick="goBack()">Go Back</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
