body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ade6b6 0%, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #007bff;
}

button[type="submit"], .button {
    width: auto; 
    padding: 10px;
    background-color: hwb(143 0% 0%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-container, .goBack-container {
    position: fixed; 
    padding: 20px;
}

.logout-container {
    top: 0;
    right: 0;
}

.goBack-container {
    top: 0;
    left: 0;
}
